@font-face {
  font-family: "Cafe24Ssurround";
  src: url("/src/fonts/Cafe24Ssurround-v2.0.ttf") format("woff");
  font-weight: normal;
  font-style: normal;
}

.carousel-container {
  overflow: hidden;
  height: 320px;
}

.MoviesTitle {
  color: white;
  font-size: 50px;
  display: flex;
  justify-content: center;
  font-family: "Cafe24Ssurround";
}

@media (max-width: 600px) {
  .carousel-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  .MoviesTitle {
    color: white;
    font-size: 30px;
    display: flex;
    justify-content: center;
    font-family: "Cafe24Ssurround";
  }
}
